.main-container {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;

}


.flex-item {
    text-align: center;
}

.header {
    background-color: #c42817;
    order: 1;
    width: 100%;
    font-family: 'Calligraffitti', cursive;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}
.block1 {
    background-color: #e0e1e2;
    order: 2;
    width: 60%;
}

.block2 {
    background-color: white;
    order: 3;
    width: 38%;
    padding: .5em

}
.block3 {
    background-color: #ada5a1;
    order: 4;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 1000px) {
    .block1 {
        order: 2;
        width: 100%;
    }

    .block2 {
        order: 3;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .block1 {
        order: 3;
        width: 100%;
    }

    .block2 {
        order: 3;
        width: 100%;
    }
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: #c2c3c4;
}
