.main-container {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;

}

.title h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.title h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}




.flex-item {
    text-align: center;
}

.header {
    background-color: #c42817;
    order: 1;
    width: 100%;
}
.block1 {
    background-color: #4d4f51;
    order: 2;
    width: 60%;
}

.block2 {
    background-color: #5b331b;
    order: 3;
    width: 38%;
    padding: .5em

}
.block3 {
    background-color: #ada5a1;
    order: 4;
    width: 100%;
}


@media (max-width: 1000px) {
    .block1 {
        order: 2;
        width: 100%;
    }

    .block2 {
        order: 3;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .block1 {
        order: 3;
        width: 100%;
    }

    .block2 {
        order: 3;
        width: 100%;
    }
}
